<script type="text/template" id="login">
    <div class="row">
        <!-- your code here. -->
    </div>
</script>

<script type="text/template" id="signup">
    <div class="row">
        <!-- your code here. -->
    </div>
</script>

<script type="text/template" id="logout">
    <div class="row">
        <!-- your code here. -->
    </div>
</script>

<script type="text/template" id="forgot-password">
    <div class="row">
        <!-- your code here. -->
    </div>
</script>

<script type="text/template" id="404">
    <div class="row">
        <h1>Page not found!</h1>
    </div>
</script>